<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyser</title>
</head>
<body>
    <h2> Welcome to the Text Analyser . Enter the Text below. </h2>
    <form action="/analyzer" method="get">
        <textarea name="text1" style="margin: 0px; width: 642px; height: 128px;"> </textarea></br>
        <input type="checkbox" name="removepunc"> Remove Punctuations </br>
        <input type="checkbox" name="fullcaps"> UPPER CASE </br>
        <input type="checkbox" name="newlineremover"> New Line Remover </br>
        <input type="checkbox" name="spaceremover"> Extra Space Remover </br>
        <input type="checkbox" name="charcounter"> Character Counter </br>
        <button type="submit">Analyse Text </button>
    </form>
</body>
</html>